.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Space Mono", monospace;
  color: #fff;
}
:root {
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
  --main-color: #6f09cf;
  --text-color: #fff;
  --second-color: #ccc;
}
body {
  background-image: radial-gradient(
    140% 107% at 50% 10%,
    #000314 37.41%,
    #6f09cf 69.27%,
    #ccc 100%
  );

  color: var(--second-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(17, 16, 16, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}

.logo {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}
span {
  color: var(--main-color);
}
.navlist {
  display: flex;
}
.navlist a {
  color: var(--second-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
}
.navlist a:hover {
  color: var(--main-color);
}
.navlist a.active {
  color: var(--main-color);
}
#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 1000;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

section {
  padding: 160px 15% 120px;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(/public/boat.GIF);
  align-items: center;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide {
  margin-bottom: 20px;
}
.one {
  display: inline-block;
  margin-right: 15px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--text-color);
}
.two {
  display: inline-block;
  color: var(--second-color);
  font-size: 20px;
  font-weight: 500;
}
.home-text h1 {
  font-size: var(--big-font);
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.1;
  margin: 0 0 8px;
}

.home-text h3 {
  color: var(--text-color);
  margin: 0 0 35px;
  font-weight: 700;
  line-height: 1.1;
  font-size: 3rem;
}
.home-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 40px;
}

.button-40 {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: #6f09cf;
  border: 0.25em solid var(--glow-color);
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  display: inline-block;
  padding: 12px;
}

.button-40::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.button-40:hover {
  color: var(--main-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.button-40:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
.text:hover {
  color: #160225;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img {
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.about-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 4rem;
}

.button-36 {
  padding: 12px 26px;
  padding-bottom: 18px;
  border: 0;
  font-size: 16px;
  transition: all 150ms ease-in-out;

  border-radius: 20px;

  color: #071432;
  font-weight: bold;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0,
    inset 0px -6px 0px rgba(0, 0, 0, 0.1),
    inset 0px -2px 0px rgba(0, 0, 0, 0.15);
}

.button-36:hover {
  filter: brightness(0.98);
}

.button-36:active {
  filter: brightness(0.97);
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 6px 0,
    inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}

.main-text {
  text-align: center;
}
.main-text p {
  color: var(--second-color);
  font-size: 15px;
  margin-bottom: 15px;
}
.main-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.box {
  padding: 35px 45px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  background-image: url(public/drips.GIF);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.s-icons i {
  font-size: 32px;
  margin-bottom: 20px;
}
.box h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}
.box p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}
.box:hover {
  cursor: pointer;
  transform: translateY(-8px);
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 340px;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
  height: 360px;
}

.layer {
  width: 360px;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #6f09cf);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h3 {
  font: 30px;
  font-weight: bolder;
  margin-bottom: 15px;
}
.layer p {
  color: var(--p-color);
  font-size: 1rem;
  line-height: 1.8;
}
.layer i {
  color: var(--main-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.row:hover img {
  transform: scale(1.1);
}
.row:hover > .layer {
  height: 100%;
}

.contact {
  background: var(#071432);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.contact-text h4 {
  color: var(--text-color);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}
.contact-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.contact-text p {
  color: var(--text-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}

.list {
  margin-bottom: 2.8rem;
}
.list li {
  margin-bottom: 12px;
}

.list li a {
  display: block;
  color: #071432;
  font-size: 14px;
  transition: all 0.45s ease;
}

.list li a:hover {
  color: var(--text-color);
  transform: translateY(5px);
}

.contact-icons i {
  height: 45px;
  width: 45px;
  color: var(--text-color);
  font-size: 22px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all 0.45s ease;
}

.contact-icons i:hover {
  color: #071432;
}

.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: #071432;
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.contact-form textarea {
  resize: none;
  height: 240px;
}

.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  background: #071432;
  color: var(--text-color);
  width: 160px;
  transition: all 0.45s ease;
}

.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.end {
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: #071432;
}
.last-text p {
  color: #f7f7f7;
  font-size: 14px;
}

.top i {
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  color: var(--text-color);
  background: #071432;
}

@media (max-width: 1480px) {
  header {
    padding: 12x 2.5%;
    transition: 0.1s;
  }
  section {
    padding: 110px 4% 10px;
  }
  .end {
    padding: 15px 3%;
  }
}

@media (max-width: 1100px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    transition: 0.1s;
  }
  .home-text h3 {
    font-size: 2.5rem;
  }
  .home {
    height: 87vh;
  }
}

@media (max-width: 920) {
  .about {
    grid-template-columns: 1fr;
  }
  .about-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #6f09cf;
    text-align: left;
    transition: all 0.45s ease;
  }
  .navlist a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all 0.45s ease;
    color: var(--text-color);
  }
  .navlist a:hover {
    color: var(--main-color);
  }
  .navlist a:active {
    color: var(--text-color);
  }
  .navlist.open {
    top: 100%;
  }
}
